body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 255, 68, 0.534),
      rgba(255, 0, 0, 0.541)
    ),
    url(Media/VGWallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parent {
  border: 2px black dotted;
  display: inline-block;
}

.box {
  display: inline-block;
  background-color: red;
  widows: 100px;
  height: 100px;
}

#two {
  background: green;
  top: 20px;
  left: 20px;
  position: absolute;
}
