html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 255, 68, 0.534),
      rgba(255, 0, 0, 0.541)
    ),
    url(Media/VGWallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 98vh;
  letter-spacing: 1rem;
}

div {
  color: greenyellow;
  font-family: inherit;
  font-size: 5rem;
}

ul {
  list-style: none;
}

#list {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: blueviolet;
}

#uppercase {
  text-transform: uppercase;
}

#NBA {
  position: absolute;
  height: 25rem;
  left: 70rem;
  bottom: 10rem;
}

#SMB {
  position: absolute;
  height: 23rem;
  left: 70rem;
  bottom: 40rem;
}

#FN {
  position: relative;
  height: 25rem;
  left: 100rem;
}

#CSGO {
  position: absolute;
  height: 30rem;
  width: 30rem;
  left: 99rem;
  bottom: 7rem;
}